@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px){
    body{
        background-image: linear-gradient(to top, #49a09d, #8740b6);
    }

    section#login{
        width: 80vw;
        height: 280px;
    } 

    section#login > div#imagem{
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login > div#form{
        float: right;
        width: 70%;
    }

    section#login >  div#form > p{
        font-size: 1em;
    }

    div.campo > input{
        width: calc(100% - 44px);
        transform: translate(45px, -42px); /* Gabiarra utilizada para centralizar o input dentro da div.campo */ 
    }
}

@media screen and (min-width: 992px){
    body{
        background-image: linear-gradient(to top, #49a09d, #8740b6);
    }

    section#login{
        width: 900px;
        height: 330px;
    } 

    section#login > div#imagem{
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login > div#form{
        float: left;
        width: 50%;
    }

    section#login > div#form > h1{
        font-size: 2em;
    }

    section#login >  div#form > p{
        font-size: 1em;
        margin: 20px 0px;
    }

    div.campo > input{
        width: calc(100% - 44px);
        transform: translate(45px, -42px); /* Gabiarra utilizada para centralizar o input dentro da div.campo */ 
    }
}